spring:
  application:
    name: insurance-management-system

  datasource:
    url: jdbc:mysql://localhost:3306/car-insurance-db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
